/* general fonts & colors */

body {
    font: 1em sans-serif;
    background-color: #eeeeee;
}

h1, h2 {
    font-family: serif;
    border-bottom: solid thin #dddddd;
}

h1 {
    padding-bottom: 5px;
}

a {
    text-decoration: none;
}

/* navigation */
nav ul li {
    list-style-type: none;
}

#service-nav {
    font-size: 0.8em;
}

#page-nav {
    background-color: #eeeeee;
    border: solid thin #bbbbbb;
    padding: 10px;
    display: inline-block;
}

#page-nav h3 {
    text-align: center;
}


/* main elements */
main {
    background-color: white;
    padding: 20px;
    border: solid 2px #ccccff;
}

footer {
    font-size: 0.6em;
    padding: 20px;

}

/* tables */
table {
    text-align: center;
    border-collapse: collapse;
    margin: 0 auto;
}

td {
    border: solid thin #dddddd;
    padding: 5px 50px;
}

th {
    background-color: #ddddff;
    border: solid thin #dddddd;
}

table tr:nth-child(2) {
    background-color: hsl(0, 42%, 59%);
}
table tr:nth-child(3) {
    background-color: #ffdddd;
}
table tr:nth-child(4) {
    background-color: #ffdddd;
}
table tr:nth-child(5) {
    background-color: #ffdddd;
}

table tr:nth-child(6) {
    background-color: #ddffdd;
}


table tr:nth-child(7) {
    background-color: yellow;
}

table tr:nth-child(8) {
    background-color: orange;
}

table tr:nth-child(9) {
    background-color: orange;
}